body {
    margin: 0px;
   
    
}

.movingObject {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    transition: 0.9s;
    user-select: none;
}

.movingObject img {
    width: 100%;
}


.contact-container {
    padding-top: 15px;
    height: calc(100% - 51.49px);
    background-image: url("images/medow.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}

.movingObject.win {

    height: 100%;
    width: 100%;
}




html, body, main {
    height: 100%;
}

.status {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    background-color: violet;
}
.status.win {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    background-color: red;
}
